<a href="https://colab.research.google.com/github/aksh2003-byte/python.co/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[[1,2],
   [3,4]]
b=[[5,6],
    [7,8]]

c=[[0,0],
   [0,0]]

for i in range(len(a)):
  for j in range(len(a[1])):
    c[i][j]=a[i][j]+b[i][j]

for k in c:
  print(k)

[6, 8]
[10, 12]

In [6]:
a=[]
b=[]
c=[[0,0],
   [0,0]]
x=int(input("Enter number of row"))
y=int(input("Enter a number of coloumn"))
print("-"*50)
for i in range(x):
 row=[]
 for j in range(y):
     value=int(input(f"Enter value {i},{j} position:"))
     if j==max(range(y)):
        print("-"*50)
     row.append(value)
 a.append(row)


x=int(input("Enter a number of secound row"))
y=int(input("Enter a number of secound coloumn"))
print("-"*50)
for i in range(x):
  row=[]
  for j in range(y):
    value=int(input(f"Enter value {i},{j} position:"))
    if j==max(range(y)):
      print("-"*50)
    row.append(value)
  b.append(row)

for i in a:
  print(i)
for i in b:
  print(i)
print("-"*50)
for i in range(len(a)):
 for j in range(len(a[0])):
   c[i][j]=a[i][j]+b[i][j]
for k in c:
  print(k)

Enter number of row2
Enter a number of coloumn2
--------------------------------------------------
Enter value 0,0 position:1
Enter value 0,1 position:2
--------------------------------------------------
Enter value 1,0 position:3
Enter value 1,1 position:4
--------------------------------------------------
Enter a number of secound row2
Enter a number of secound coloumn2
--------------------------------------------------
Enter value 0,0 position:5
Enter value 0,1 position:6
--------------------------------------------------
Enter value 1,0 position:7
Enter value 1,1 position:8
--------------------------------------------------
[1, 2]
[3, 4]
[5, 6]
[7, 8]
--------------------------------------------------
[6, 8]
[10, 12]