<a href="https://colab.research.google.com/github/aksh2003-byte/python.co/blob/main/if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input('enter a number:'))
if a%2==0:
  print(f'{a} is even ')

enter a number:4
4 is even

In [ ]:
a=int(input('enter a number'))
if a%2==0:
  print(f'{a}is even')
else:
    print(f"{a} is odd")

enter a number3
3 is odd

In [ ]:
num=int(input('enter a number'))
if num<0:
  print("it's negative")
else:
  print(f"it's positive or zero")

enter a number-1
it's negative

In [ ]:
year=int(input('enter a number:'))
if (year%4==0 and year%100!=0) or year%400==0:
 print("it's a leap year")
else:
  print("it's not a leap year")

enter a number:2000
it's a leap year

In [ ]:
mark=float(input("enter marks"))
if mark>=80 and mark<=100:
  print(f'A grade')
else:
  if 60<=mark<80:
      print(f'B grade')
  else:
    if 35<=mark and mark<=60:
      print(f'C grade')
    else:
      print("fail")

enter marks60
B grade

In [ ]:
pin=input('enter a pin')
balance=100000
if pin.isdigit() and pin=='2003':
 withdrawl=int(input('enter a withdrawl amount'))
 if withdrawl<=balance:
  print('transaction succesfull')
  print(f'your balance: {balance-withdrawl}')
 else:
  print('amount is higher than balance')
else:print('incorrect pin')

enter a pin2003
enter a withdrawl amount25000
transaction succesfull
your balance: 75000

WAP a program to input the marks of a student and print the result PASS
or FAIL. If marks are less than 35, result is FAIL. If marks are 35 or more result is
PASS.

In [ ]:
mark=float(input("enter a marks"))
if mark>=35 and mark<=100:
  print("pass")
else:
 print("fail")

enter a marks30
fail

11 WAP to input bill no. and sales amount. Display bill no., sales amount,
sales tax and net amount. sales tax is 5% of sales, if sales is upto 5000 otherwise
10%

In [ ]:
bill_no=int(input("enter bill no"))
sale_amo=float(input("enter sales amount"))
if sale_amo<=5000:
 print(f"your sales amount: {(sale_amo*0.05)+sale_amo}")
else:
  print(f"sale amount:{(sale_amo*0.1)+sale_amo}")

enter bill no34354
enter sales amount6000
sale amount:6600.0

12 WAP a program to accept employee number (en) and basic salary(bs) from
the keyboard. calculate and display dearness allowance (da) as 63% of basic
salary, house rent allowance (hra) as 40% of basic salary, special allowance(sa) as 15% of basic salary whenever basic salary is over rs 3500,otherwise no special
allowance is to be given, gross salary(gs) is bs+da+hra+sa.

In [ ]:
employee_num=(input("enter employee number"))
basic_sal=float(input("enter your salary"))
da=basic_sal*0.63
hra=basic_sal*0.4
sa= basic_sal*0.15
if basic_sal<=3500:
  print("no special allowance is given")
else:
  gs= basic_sal+da+hra+sa
  print(f"special allowance given:{gs}")

enter employee number4
enter your salary5000
special allowance given:10900.0

13 WAP a program to input a number and then print with a suitable message
whether it is divisible by 17 or not

In [ ]:
num=float(input("enter a number"))
if num%17==0:
 print(f"it is {num}")
else:
  print("it is not divisible")

enter a number35
it is not divisible

In [ ]:
a=int(input("Enter a number"))
if a%2==0:
  print(f"{a} is even number")
else:
  print(f"is odd number")

Enter a number5
is odd number

15 write a program to input the marks of a student print the result as follows
Marks result
Less than 35 = Fail
35 or more but less than 45 = Pass class
45 or more but less than 60 = 2nd class
60 or more but less than 75 = 1st class
75 or more but less than 90 = distinction
90 or more = merit
If the marks are less than 0 or greater than 100, print INVALID Marks

In [ ]:
marks=float(input("enter a marks"))
if marks<=35 :
  print("Fail")
else:
 if 0<=marks>100:
   print("invalid marks")
 else:
  if 35<=marks<=45:
   print("Pass")
  else:
   if 45<=marks<=60:
    print("2nd class")
   else:
    if 60<=marks<=75:
      print("1st class")
    else:
      if 75<=marks<90:
       print("distinction")
      else:
        if marks>=90:
         print("merit")

enter a marks91
merit