<a href="https://colab.research.google.com/github/aksh2003-byte/python.co/blob/main/list1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l2=list([12,23,45,55,22,44])
print(type(l2))
type((12,23,45,55,22,44))

len("apple")
l5=("ksek","kajsd")
len(l5)
len(l5[1])

<class 'list'>

5

In [ ]:
list1 =["apple","banana","water"]#string type
list2 =[1,2,3,4] # integer type
list3 =[True,False,True,False] #boolean type
list4 =[1.2344,2.334,4.4,2.2]#float type

In [ ]:
mixed_list =[2.2,'apple',1,True]
print(mixed_list)

[2.2, 'apple', 1, True]

In [ ]:
l1=[1,3]
l1.insert(3,2)
print(l1)

[1, 3, 2]

In [ ]:
my_list =[1,2,3]
new_list =[1,2,3,4,5]
my_list.append(4)

print(f"after append(4):{my_list}")
my_list.append(new_list)
print(f"after append(new_list):{my_list}")

my_list.insert(2,4.4)
print(f"after append(4.4):{my_list}")
new_list =[1,2,3,4,5]

my_list.extend(new_list)
print(f"after extend([1,2,3,4,5]):{my_list}")

after append(4):[1, 2, 3, 4]
after append(new_list):[1, 2, 3, 4, [1, 2, 3, 4, 5]]
after append(4.4):[1, 2, 4.4, 3, 4, [1, 2, 3, 4, 5]]
after extend([1,2,3,4,5]):[1, 2, 4.4, 3, 4, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [ ]:
my_list =[1,2,3,4,4,5,6]
my_list.remove(2)
print(f"After remove(2):{my_list}")

After remove(2):[1, 2, 3, 4, 5, 6]

In [ ]:
# nested list
nested_list=[1,2,['a','b','c'],4,[True,False]]
print(f"original nested list: {nested_list}")
print(f"Element at index 0:{nested_list[0]}")
print(f"Element at index 2:{nested_list[2]}")

print(f"Element at index 1 of the list at index 2: {nested_list[2][1]}")
print(f"Element at index 0 of the list at index 4: {nested_list[4][0]}")

nested_list[2][2]='d'
print(f"After modifying element:{nested_list}")

nested_list[4].append(True)
print(f"After appending to nested list:{nested_list}")
nested_list[4].remove(True)
print(f"After remove {nested_list}")

original nested list: [1, 2, ['a', 'b', 'c'], 4, [True, False]]
Element at index 0:1
Element at index 2:['a', 'b', 'c']
Element at index 1 of the list at index 2: b
Element at index 0 of the list at index 4: True
After modifying element:[1, 2, ['a', 'b', 'd'], 4, [True, False]]
After appending to nested list:[1, 2, ['a', 'b', 'd'], 4, [True, False, True]]
After remove [1, 2, ['a', 'b', 'd'], 4, [False, True]]

In [ ]:
a =[
    [1,2,3],
    [4,["akash",6,[7,8]],9],
    [10,11,["hello python",13]],
    ["is",[15,"name"]],
    [[17,18],21,'my',[344,34,2,[" "]]]
]
print(a)

[[1, 2, 3], [4, ['akash', 6, [7, 8]], 9], [10, 11, ['hello python', 13]], ['is', [15, 'name']], [[17, 18], 21, 'my', [344, 34, 2, [' ']]]]

In [ ]:
print(
    a[4][2]+ a[4][3][3][0]+ #for space
    a[3][1][1]+a[4][3][3][0]+
    a[3][0]+a[4][3][3][0]+
    a[1][1][0]
)

my name is akash