<a href="https://colab.research.google.com/github/aksh2003-byte/python.co/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

27 WAP to print number from 100 to 1. Print 10 numbers on each line

In [ ]:
i=100
while i>0:
  print(i,end=" ")
  i-=1
  if i%10==0:
   print("\n")

28 WAP to print all odd integers from 13 to 69. Print 8 integers on each line

In [ ]:
i=13
count=0
while i<70:
  if i%2!=0:
    print(i,end=" ")
  i+=1
  count+=1
  if count%16==0:
    print("\n")

13 15 17 19 21 23 25 27

29 31 33 35 37 39 41 43

45 47 49 51 53 55 57 59

61 63 65 67 69

29 WAP to find and print the sum and product of first 5 natural number

In [ ]:
i=0
sum=0
product=1
while i<=10:
  i+=1
  product*=1
  i+=1
print(f"sum:{sum}")
print(f"product: {product}")

sum:0
product: 1

In [ ]:
num=1
even_sum=0
odd_sum=0
while num<40:
  if num%2==0:
   even_sum+=num
  else:
   odd_sum+=num
  num+=1
if even_sum > odd_sum:
  print("even is greater")
  print(f"even {even_sum}")
  print(f"odd {odd_sum}")
else:
  print("odd is greater")
  print(f"even {even_sum}")
  print(f"odd {odd_sum}")

odd is greater
even 380
odd 400

In [ ]:
num=2
i=1
while i<11:
  num=1
  while num <11:
    print(f'{num} X {i} = {i*num}',end=' |')
    num+=1
  i+=1
  print()

1 X 1 = 1 |2 X 1 = 2 |3 X 1 = 3 |4 X 1 = 4 |5 X 1 = 5 |6 X 1 = 6 |7 X 1 = 7 |8 X 1 = 8 |9 X 1 = 9 |10 X 1 = 10 |
1 X 2 = 2 |2 X 2 = 4 |3 X 2 = 6 |4 X 2 = 8 |5 X 2 = 10 |6 X 2 = 12 |7 X 2 = 14 |8 X 2 = 16 |9 X 2 = 18 |10 X 2 = 20 |
1 X 3 = 3 |2 X 3 = 6 |3 X 3 = 9 |4 X 3 = 12 |5 X 3 = 15 |6 X 3 = 18 |7 X 3 = 21 |8 X 3 = 24 |9 X 3 = 27 |10 X 3 = 30 |
1 X 4 = 4 |2 X 4 = 8 |3 X 4 = 12 |4 X 4 = 16 |5 X 4 = 20 |6 X 4 = 24 |7 X 4 = 28 |8 X 4 = 32 |9 X 4 = 36 |10 X 4 = 40 |
1 X 5 = 5 |2 X 5 = 10 |3 X 5 = 15 |4 X 5 = 20 |5 X 5 = 25 |6 X 5 = 30 |7 X 5 = 35 |8 X 5 = 40 |9 X 5 = 45 |10 X 5 = 50 |
1 X 6 = 6 |2 X 6 = 12 |3 X 6 = 18 |4 X 6 = 24 |5 X 6 = 30 |6 X 6 = 36 |7 X 6 = 42 |8 X 6 = 48 |9 X 6 = 54 |10 X 6 = 60 |
1 X 7 = 7 |2 X 7 = 14 |3 X 7 = 21 |4 X 7 = 28 |5 X 7 = 35 |6 X 7 = 42 |7 X 7 = 49 |8 X 7 = 56 |9 X 7 = 63 |10 X 7 = 70 |
1 X 8 = 8 |2 X 8 = 16 |3 X 8 = 24 |4 X 8 = 32 |5 X 8 = 40 |6 X 8 = 48 |7 X 8 = 56 |8 X 8 = 64 |9 X 8 = 72 |10 X 8 = 80 |
1 X 9 = 9 |2 X 9 = 18 |3 X 9 = 27 |4 X 9 = 36 |5 X 9 = 45 |6 X 9 = 54 |7 X 9 = 63 |8 X 9 = 72 |9 X 9 = 81 |10 X 9 = 90 |
1 X 10 = 10 |2 X 10 = 20 |3 X 10 = 30 |4 X 10 = 40 |5 X 10 = 50 |6 X 10 = 60 |7 X 10 = 70 |8 X 10 = 80 |9 X 10 = 90 |10 X 10 = 100 |

In [ ]:
i=0
x=[1,2]
y=[3,4]
while i <len(x):
 j=0
 while j<len(y):
  print(x[i],y[j])
  i+=1
  j+=1
print()

1 3
2 4

In [ ]:
i=1
while i<6:
  j=1
  while j<6:
   print(j,end=" ")
   j+=1
  i+=1
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
i=1
while i<6:
  j=1
  while j<=i:
   print(j,end=" ")
   j+=1
  i+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
i=1
while i<6:
  j=1
  while j<6:
    if i in[1,5] or j in[1,5]:
      print(j,end=" ")
    else:
      print(" ",end=" ")
    j+=1
  i+=1
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
i=1
while i<6:
  j=1
  while j<=i:
    if j==1 or j==i or i==5:
     print(j,end=" ")
    else:
      print(" ",end=" ")
    j+=1
  i+=1
  print()

1
1 2
1   3
1     4
1 2 3 4 5

In [ ]:
i=6
while i>=1:
  j=1
  while j<=i:
    if (j==1 or j==i) or i==6:
     print(j,end=" ")
    else:
      print(" ",end=" ")
    j+=1
  i-=1
  print()

1 2 3 4 5 6
1       5
1     4
1   3
1 2
1

In [ ]:
i=1
while i<=6:
  k=1
  while k<=6-i:
      print("*",end=" ")
      k+=1
  j=1
  while j<=i:
      print(j,end=" ")
      j+=1
  i+=1
  print()

* * * * * 1
* * * * 1 2
* * * 1 2 3
* * 1 2 3 4
* 1 2 3 4 5
1 2 3 4 5 6

In [ ]:
i=1
while i<=9:
  k=1
  while k<=i:
    print(" ",end=" ")
    k+=1
  j=1
  while j<=9-i:
    print(j,end=" ")
    j+=1
  l=9-(i-1)
  while l>=1:
    print(l,end=" ")
    l-=1
  i+=1
  print()

  1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
      1 2 3 4 5 6 7 6 5 4 3 2 1
        1 2 3 4 5 6 5 4 3 2 1
          1 2 3 4 5 4 3 2 1
            1 2 3 4 3 2 1
              1 2 3 2 1
                1 2 1
                  1

In [19]:
i=1
while i<=9:
  j=1
  while j<=i:
    if i==1 :
     print(j,end=" ")
    else:
      print(" ",end=" ")
    j+=1
  k=1
  while k<=9-i:
   if i==1 or k==1 or k==9:
    print(k,end=" ")
   else:
    print(" ",end=" ")
   k+=1
  l=9-(i-1)
  while l>=1:
   if i==1 or l==1:
    print(l,end=" ")
   else:
    print(" ",end=" ")
   l-=1
  i+=1
  print()

1 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
    1                           1
      1                       1
        1                   1
          1               1
            1           1
              1       1
                1   1
                  1

In [ ]:
i=1
while i<=9:
  j=1
  while j<=9-i:
    print(" ",end=" ")
    j+=1
  k=1
  while k<=i:
    print(k,end=" ")
    k+=1
  l=i-1
  while l>=1:
    print(l,end=" ")
    l-=1
  i+=1
  print()

                1
              1 2 1
            1 2 3 2 1
          1 2 3 4 3 2 1
        1 2 3 4 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [56]:
i=1
while i<=9:
  j=1
  while j<=9-i:
     print(" ",end=" ")
     j+=1
  k=1
  while k<=i:
    if i==9 or k==1 :
     print(k,end=" ")
    else:
     print(" ",end=" ")
    k+=1
  l=i-1
  while l>=1:
    if i==9 or l==1:
     print(l,end=" ")
    else:
      print(" ",end=" ")
    l-=1
  i+=1
  print()

                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [ ]:
i=1
while i<=8:
  j=1
  while j<=i:
    print(" ",end=" ")
    j+=1
  k=1
  while k<=8-i:
    print(k,end=" ")
    k+=1
  l=8-(i-1)
  while l>=1:
    print(l,end=" ")
    l-=1
  i+=1
  print()

a=2
while a<=8:
  b=1
  while b<=9-a:
    print(" ",end=" ")
    b+=1
  c=1
  while c<=a:
    print(c,end=" ")
    c+=1
  d=a-1
  while d>=1:
    print(d,end=" ")
    d-=1
  a+=1
  print()

  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
        1 2 3 4 5 4 3 2 1
          1 2 3 4 3 2 1
            1 2 3 2 1
              1 2 1
                1
              1 2 1
            1 2 3 2 1
          1 2 3 4 3 2 1
        1 2 3 4 5 4 3 2 1
      1 2 3 4 5 6 5 4 3 2 1
    1 2 3 4 5 6 7 6 5 4 3 2 1
  1 2 3 4 5 6 7 8 7 6 5 4 3 2 1

In [59]:
i=1
while i<=8:
  j=1
  while j<=i:
    if i==1:
      print(j,end=" ")
    else:
     print(" ",end=" ")
    j+=1
  k=1
  while k<=8-i:
    if i==1 or k==1 or k==8:
      print(k,end=" ")
    else:
     print(" ",end=" ")
    k+=1
  l=8-(i-1)
  while l>=1:
    if i==1 or l==1 or l==8:
     print(l,end=" ")
    else:
      print(" ",end=" ")
    l-=1
  i+=1
  print()

i=2
while i<=9:
  j=1
  while j<=9-i:
    print("  ",end="")
    j+=1
  k=1
  while k<=i:
   if k==1 or i==9:
      print(k,end=" ")
   else:
     print(" ",end=" ")
   k+=1
  l=i-1
  while l>=1:
    if i==9 or l==1:
      print(l,end=" ")
    else:
      print(" ",end=" ")
    l-=1
  i+=1
  print()

1 1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
    1                       1
      1                   1
        1               1
          1           1
            1       1
              1   1
                1
              1   1
            1       1
          1           1
        1               1
      1                   1
    1                       1
  1                           1
1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1

In [ ]:
a=0
sum=0
while a<=115:
  sum+=a
  a+=1
print(f"{sum}")

6670

33 WAP to find and print the sum of 12 + 22 + 32 + ......... + 152

In [ ]:
a=1
power=2
sum=0
while a<16:
  sum+=a**power
  a+=1
print(f'{sum}')

1240

In [ ]:
a=2
power=0
sum=0
while power<11:
  sum+=a**power
  power+=1
print(f"{sum}")

2047

35 WAP to find and print the sum of 12 + 23 + 34 + ......... + 56

In [ ]:
a=1
power=2
sum=0
while a<6 and power<7:
 sum+=a**power
 a+=1
 power+=1
print(f'{sum}')

16739

36 WAP to find and print the sum of 2x5 + 5x9 + 8x13 + .......... + 29x41

In [ ]:
a=2
b=5
sum=0
while a<30 and b<42:
  sum+=a*b
  a+=3
  b+=4
print(f"{sum}")

4555

37 WAP to find and print the sum of 1.3 + 3.5 + 5.7 + .......+19.21

In [ ]:
a=1
b=3
sum=0
while a<20 and b<22:
 sum+=a*b
 a+=2
 b+=2
 print(f"{sum}")

3
18
53
116
215
358
553
808
1131
1530

In [ ]:
a=1
sum=0
while a<26:
 sum+=a**0.5
 a+=1
print(f"{round(sum)}")

86

In [ ]:
n = 5

for i in range(1, n + 1):
    print(" " * (n - i) + "*" * i)

    *
   **
  ***
 ****
*****