<a href="https://colab.research.google.com/github/aksh2003-byte/python.co/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
single_element_tuple = (42,)
single_element_string_tuple = ("hello",)
multiple_elements_tuple = (1,"apple", 3.14, True)

print("Single element integer tuple:", single_element_tuple)
print("Single element string tuple:", single_element_string_tuple)
print("Multiple elements tuple:", multiple_elements_tuple)

Single element integer tuple: (42,)
Single element string tuple: ('hello',)
Multiple elements tuple: (1, 'apple', 3.14, True)

In [ ]:
print(multiple_elements_tuple[0])

print(multiple_elements_tuple[2])

1
3.14

In [ ]:
print(multiple_elements_tuple[1:3])

print(multiple_elements_tuple[:2])

print(multiple_elements_tuple[2:])

print(multiple_elements_tuple[::2])

print(multiple_elements_tuple[::-1])

('apple', 3.14)
(1, 'apple')
(3.14, True)
(1, 3.14)
(True, 3.14, 'apple', 1)

In [ ]:
# Demonstrate positive indexing
print("Accessing the first element using positive indexing:", multiple_elements_tuple[0])
print("Accessing the third element using positive indexing:", multiple_elements_tuple[2])

Accessing the first element using positive indexing: 1
Accessing the third element using positive indexing: 3.14

In [ ]:
# Demonstrate negative indexing
print("Accessing the last element using negative indexing:", multiple_elements_tuple[-1])
print("Accessing the second to last element using negative indexing:", multiple_elements_tuple[-2])

Accessing the last element using negative indexing: True
Accessing the second to last element using negative indexing: 3.14

In [ ]:
print("Accessing element from index 1 to index 3(exclusive) using slicing:",multiple_elements_tuple[1:3])
print("Accessing elements from the beginning to index 2 (exclusive) using slicing:", multiple_elements_tuple[:2])
print("Accessing elements from index 2 to the end using slicing:", multiple_elements_tuple[2:])
print("Accessing every second element using slicing:", multiple_elements_tuple[::2])
print("Accessing elements in reverse order using slicing:", multiple_elements_tuple[::-1])

Accessing element from index 1 to index 3(exclusive) using slicing: ('apple', 3.14)
Accessing elements from the beginning to index 2 (exclusive) using slicing: (1, 'apple')
Accessing elements from index 2 to the end using slicing: (3.14, True)
Accessing every second element using slicing: (1, 3.14)
Accessing elements in reverse order using slicing: (True, 3.14, 'apple', 1)

In [ ]:
tuple1 =(1,2,3)
tuple2 =("a","b","c")
concateneted_tup =tuple1 + tuple2
print("concateneted_tup:",concateneted_tup)

concateneted_tup: (1, 2, 3, 'a', 'b', 'c')

In [ ]:
my_tuple =(10,20)
repeated_tuple = my_tuple * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (10, 20, 10, 20, 10, 20)

In [ ]:
another_tuple = (1, 5, 10, 15, 20)
is_10_in = 10 in another_tuple
is_7_not_in = 7 not in another_tuple
print("Is 10 in the tuple?", is_10_in)
print("Is 7 not in the tuple?", is_7_not_in)

Is 10 in the tuple? True
Is 7 not in the tuple? True

In [ ]:
my_tuple = (10, 5, 20, 15)
sorted_list = sorted(my_tuple)
print(my_tuple)

(10, 5, 20, 15)

In [ ]:
my_list = [1, 2, 3]
my_string = "hello"
tuple_from_list = tuple(my_list)
tuple_from_string = tuple(my_string)
print(my_list)
print(my_string)

[1, 2, 3]
hello

In [ ]:
numeric_tuple = (10, 5, 20, 15)
mixed_type_tuple = (1, 'apple', 3.14, 10, 'banana')

print(f"Numeric tuple: {numeric_tuple}")
print(f"Length of numeric_tuple: {len(numeric_tuple)}")
print(f"maximum element in numeric_tuple:{max(numeric_tuple)}")
print(f"Minimum element in numeric_tuple: {min(numeric_tuple)}")
print(f"Sum of elements in numeric_tuple: {sum(numeric_tuple)}")

Numeric tuple: (10, 5, 20, 15)
Length of numeric_tuple: 4
maximum element in numeric_tuple:20
Minimum element in numeric_tuple: 5
Sum of elements in numeric_tuple: 50

In [ ]:
my_list = [1, 2, 3]
my_string = "hello"
tuple_from_list = tuple(my_list) # tuple_from_list will be (1, 2, 3)
tuple_from_string = tuple(my_string)
print(my_list)
print(my_string)

[1, 2, 3]
hello

In [ ]:

my_list = [100, 200, 300]
my_string = "Akash"
tuple_from_list = tuple(my_list)
tuple_from_string = tuple(my_string)

print(f"Original list: {my_list}")
print(f"Tuple converted from list: {tuple_from_list}")

print(f"Original string: {my_string}")
print(f"Tuple converted from string: {tuple_from_string}")

Original list: [100, 200, 300]
Tuple converted from list: (100, 200, 300)
Original string: Akash
Tuple converted from string: ('A', 'k', 'a', 's', 'h')

In [ ]:

# Create a tuple representing a point in 3D space (x, y, z)
point = (10, 25, 5)

# Access elements using positive indexing
x_coord = point[0]
y_coord = point[1]

# Access the last element using negative indexing
z_coord = point[-1]

# Access a slice of the tuple
xy_coords = point[0:3]

print(f"Point tuple: {point}")
print(f"X-coordinate: {x_coord}")
print(f"Y-coordinate: {y_coord}")
print(f"Z-coordinate: {z_coord}")
print(f"XY-coordinates (slice): {xy_coords}")

Point tuple: (10, 25, 5)
X-coordinate: 10
Y-coordinate: 25
Z-coordinate: 5
XY-coordinates (slice): (10, 25, 5)

In [ ]:
# Create a tuple of temperatures over a week
weekly_temperatures = (75, 80, 78, 82, 80, 79, 80)

# Get the number of days
num_days = len(weekly_temperatures)

# Count how many times 80 degrees occurred
count_80 = weekly_temperatures.count(80)

# Find the index of the first day with 78 degrees
index_78 = weekly_temperatures.index(78)

print(f"Weekly Temperatures: {weekly_temperatures}")
print(f"Number of days: {num_days}")
print(f"Count of 80 degrees: {count_80}")
print(f"Index of the first 78 degrees: {index_78}")

Weekly Temperatures: (75, 80, 78, 82, 80, 79, 80)
Number of days: 7
Count of 80 degrees: 3
Index of the first 78 degrees: 2

In [ ]:
# Example 1: Creating and Accessing a Tuple

# Create a tuple representing a point in 3D space (x, y, z)
point = (10, 25, 5)
print(f"Point tuple: {point}")

# Access elements using positive indexing
x_coord = point[0]
y_coord = point[1]
print(f"X-coordinate (point[0]): {x_coord}")
print(f"Y-coordinate (point[1]): {y_coord}")

# Access the last element using negative indexing
z_coord = point[-1]
print(f"Z-coordinate (point[-1]): {z_coord}")

# Access a slice of the tuple
xy_coords = point[0:2]
print(f"XY-coordinates (slice point[0:2]): {xy_coords}")

print("-" * 30) # Separator

# Example 2: Using Built-in Functions and Methods

# Create a tuple of temperatures over a week
weekly_temperatures = (75, 80, 78, 82, 80, 79, 80)
print(f"Weekly Temperatures: {weekly_temperatures}")

# Get the number of days using len()
num_days = len(weekly_temperatures)
print(f"Number of days (len(weekly_temperatures)): {num_days}")

# Count how many times 80 degrees occurred using count()
count_80 = weekly_temperatures.count(80)
print(f"Count of 80 degrees (weekly_temperatures.count(80)): {count_80}")

Point tuple: (10, 25, 5)
X-coordinate (point[0]): 10
Y-coordinate (point[1]): 25
Z-coordinate (point[-1]): 5
XY-coordinates (slice point[0:2]): (10, 25)
------------------------------
Weekly Temperatures: (75, 80, 78, 82, 80, 79, 80)
Number of days (len(weekly_temperatures)): 7
Count of 80 degrees (weekly_temperatures.count(80)): 3